head,body{
	width: 100%;
	height: 100%;
}
body{
	padding: 2%;
}
header{
	width: 100%;
	height: 100%;
	background-color: #56836F;
}
header:after{
	content: "  ";
	clear: both;
	display: block;
}
.logo{
	float: right;
	width: 201px;
	margin-right: 55px;
	margin-top: 35px;
}
.navigation{
	display: inline-block;
	width: 786px;
	margin-right: 50px;
	margin-top: 35px;
	margin-left: 157px;
}
.navigation-li{
	display: inline-block;
}
.navigation-a{
	float: left;
	font-size: 48px;
	color:#FFFFFF;;
	vertical-align: ;
	margin-left: 45px;
	font-family: 'Myriad Pro Regular';
}
.div1{
	width: 100%;
	height: 100%;
	padding-bottom: 60px;
	background-color: #56836F;
}
.div1:after{
	content: " ";
	clear: both;
	display: block;
}
.div2{
	background-color: #FCEE21;
	width: 580px;
	margin-top: 65px;
	margin-left: 72px;
	float: left;
}
.div3{
	display: inline-block;
}
.div4{
	background-color: #FCEE21;
	width: 580px;
	margin-top: 65px;
	margin-right: 55px;
	float: right;
}
.img{
	float: right;
	width: 172px;
	padding: 3%;
}
.paragraph{
	font-family: 'SegoeUI-Regular';
	width: 563px;
	font-size: 14px;
	padding: 3%;
}
.img1{
	float: left;
	width: 172px;
	padding: 3%;
}
#paragraph1{
	padding-top: 0px;
	color: #006837;
}
#pr2{
	color: #006837;
}
#pr{
	padding-top: 0px;
}
